$blue: #000fff;
$blue-hover: #030ea7;

.body {
  &__wrap {
    padding-top: 160px;
    padding-bottom: 140px;
    max-width: 1180px;
    margin: 0px auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.tabList {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: 0;
  padding-left: 0;
}

.tab {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: $blue;
  display: block;
  padding: 15px 25px;
  margin: 0px 10px;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.3s;
  &:hover {
    transform: translateY(-10px);
    background: $blue-hover;
  }
}

.tabSelected {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px 2px rgba(0, 15, 255, 0.3);
  outline: none;
}

.title {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .tabList {
    flex-direction: column;
    padding-top: 20px;
  }

  .title {
    font-size: 40px;
  }

  .tab {
    margin: 10px 0;
    font-size: 14px;
  }

  .tabSelected,
  .tab:hover {
    transform: unset;
  }
}

@media screen and (max-width: 440px) {
  .body__wrap {
    padding: 50px 10px;
  }
}
